apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: auth-service
  name: auth-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  strategy: {}
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
      - image: spring-auth-server-demo:0.0.1-SNAPSHOT
        name: spring-auth-server-demo
        resources: {}
        env:
          - name: SPRING_SECURITY_OAUTH2_AUTHORIZATIONSERVER_ISSUER
            value: http://auth-service:9000
status: {}
