apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mysql
  name: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  strategy: {}
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - image: mysql
        name: mysql
        resources: {}
        env:
          - name: MYSQL_USER
            value: springrestmvcadmin
          - name: MYSQL_PASSWORD
            value: password@123A
          - name: MYSQL_DATABASE
            value: spring_boot_rest_mvc
          - name: MYSQL_ROOT_PASSWORD
            value: password
status: {}
